<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}AutoSpeed{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Luis Morrissey">
        <meta name="description" content="Base Html Page for common UI.">
    </head>
    <body>
        {% include "_nav.html" %}

        <main>
            {% include "_flash.html" %}
            {% block content %}{% endblock %}
        </main>
    </body>
</html>