# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Flask instance folder
instance/

# Environment variables
.env

# OS files
.DS_Store

# Vim swap files
*.swp
.*.swp

# Production env
.env.production

# Uploads
uploads/

# IDE
.vscode/
